/* .map-container {
    height: 100%;
} */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: black;
}

button {
    font-family: 'Poppins', sans-serif;
    /* font-size: 18px; */
}

.map-only {
    grid-column: 1 / 4;
    height: 93vh;
    /* border-radius: 10px 0 0 10px; */
}

.map-view {
    /* width: 100vw; */
    height: 100%;
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 2fr 1.5fr; */
    grid-template-rows: 1fr;
    margin: 0;
    /* box-shadow: 0px 0px 94px -53px rgba(75, 75, 75, 1);
    border-radius: 10px; */
}

.panel {
    height: 100%;
    grid-column: 4;
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(138, 138, 138, 0.2); */
    /* border-radius: 0 10px 10px 0; */
    /* box-shadow: 0px 0px 94px -53px rgba(75, 75, 75, 1); */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* grid-template-columns: ; */

}

.panel-error {
    background-color: rgb(110, 0, 0);
    width: 100%;
    /* grid-column: 4; */
    text-align: center;
    color: white;
    font-weight: 600;
    border: 3px solid black;
    /* margin: 5px; */
}

.panel-details {
    display: flex;
    flex-direction: column;
}

.path-details {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    align-items: center;
    margin-left: 30px;
    margin-right: -20px;
}

.label-label {
    font-size: 12px;
}

.label-value {
    align-self: center;
}

.path-details-line {
    width: 80%;
    color: rgb(219, 219, 219);
    margin-top: 30px;
    margin-bottom: 10px;
}


.panel-start {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.panel-end {
    margin-left: auto;
    margin-right: auto;
}

/* .panel-start, .panel-end {
    margin: 50px auto;
} */

.panel input{
    display: inline-block;
    width: 17em;
    padding: 5px 10px;
    margin: 8px 8px;
    /* border-radius: 6px; */
    box-sizing: border-box;
}

.panel label {
    display: inline-block;
    width: 6em;
    margin: 10px 10px
}

.panel button, .popup-inner .close-popup {
    padding: 4px 10px;
    background-color: rgb(242, 250, 240);
    border: 1px solid green;
    /* border-radius: 6px; */
    transition-duration: 0.4s;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.panel button:hover, .popup-inner .close-popup:hover {
    cursor: pointer;
    background-color: rgb(255, 254, 254);
    border: 1px solid black;
}

.panel button:after{
    content: "";
    /* background: rgb(238, 238, 238); */
    background: rgb(242, 250, 240);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
.panel button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

/* .charts-panel { */
    /* background-color: rgb(163, 27, 27); */
    /* background-color: whitesmoke; */
    /* grid-row: 2; */
    /* grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* width: 100vw;  */
    /* gap: 10px; */
/* } */

/* 
.charts {
    width: 50vw;
    margin: auto 10vw;
} */




.popup {
    position: absolute;
    z-index: 10000;
    width: 200px;
    height: 250px;
    margin: auto;
    background-color: rgb(212, 212, 212);
    /* border-radius: 1em; */
    box-shadow: 0px 0px 22px -3px rgb(77, 77, 77);
    border: 1px solid green;
    background-color: rgb(242, 250, 240);
}

.popup-inner {
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    margin: auto;
    background-color: rgb(250, 249, 249);
    /* border-radius: 1em; */
    text-align: center;
}

.close-popup {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
}

.popup-inner button {
    border: none;
    background: transparent;
}

.popup-inner .map-popup-button {
    border-left: .5px solid rgba(0, 128, 0, 0.507);
    width: 100%;
    margin-bottom: 7px;
}

.popup-inner button:hover {
    cursor: pointer;
}

.coordinates {
    color: gray;
    font-size: 10px;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
}

.actions {
    text-align: left;
    font-size: 15px;
    margin: 1em;
    border: none
}

.navWrapper {
    height: 7vh;
    width: 100vw;
    background-color: rgb(10, 70, 10);
    text-align: right;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navigation {
    /* position: fixed; */
    margin: 0;
    top: 0;
    left: 0;
}

.navButton {
    font-size: 20px;
    border: none;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    padding: 0 20px 0 20px;
    border-right: 1px solid white ;
    color: white;
    text-decoration: none;

}

.navButton:hover {
    cursor: pointer;
}

.app-title {
    margin-left: 20px;
}

header {
    margin-top: 100px;
}


.user-container {
    
    position: relative;
    width: 100vw;
    height: 93vh;


    background-image: url("login_image.jpg");
    
}

.user-panel {
    position: relative;
    width: 50vw;
    height: 93vh;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 10000;
    float: right;

}

.user-credentials {
    position: absolute;
    top: 25%;
    left: 20%;
    
    /* border-radius: 2em; */
    /* background-color: rgba(0, 128, 0, 0.808); */
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-between;
    color: white;

}

.user-login, .user-register{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 30px 50px 30px;
}

.user-login form, .user-register form {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    font-weight: 400;
}

.user-login input, .user-register input {
    width: 17em;
    margin-bottom: 20px;
}

.spliter {
    z-index: 10000;
    width: 3px;
    /* height: 430px; */
    background-color: rgb(255, 255, 255);
    margin: 40px 0 40px 0;
    /* border-radius: 2em; */

}

.user-login p, .user-register p {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 30px;
}


.user-login button, .user-register button {
    width: 10em;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px;
    margin-top: 40px;
    border: none;
}


.user-login button:hover, .user-register button:hover {
    background-color: rgba(255, 255, 255, 0.212);;
    cursor: pointer;
}

.user-login .button-login, .user-register .button-register {
    text-align: center;
}


.register-success {
    display: flex;
    flex-direction: column;
    
}

.fav-popup {
    width: 80vw;
    height: 70vh;
    position: absolute;
    z-index: 10000;
    margin-top: 10vh;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;

    background-color: white;
    border: 5px solid rgb(10, 70, 10);;
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}


.fav-close {
    float: right;
    border: none;
    background-color: white;
    font-size: 28px;
    margin-right: 5px;
}

.fav-form {
    height: 70vh;
    width: 80vw;
}

.fav-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 5vh; */
    margin: 10vh 5vh;
    gap: 50px;
}

.fav-name, .fav-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
}

.fav-form input {
    font-size: 22px;
}

.fav-form textarea {
    height: 200px;
    font-size: 18px;
}

.fav-add {
    width: 200px;

    align-self: center;
}

.fav-add:hover, .fav-close:hover {
    cursor: pointer;
}


.profile-routes {
    background-color: rgb(255, 255, 255);
    padding: 30px 0;
    margin: 0 50px;
    /* height: 100%; */
    
}


.profile-fav-route {
    background-color: white;
    margin: 30px 150px;
    margin-top: 60px;
    box-shadow: 0px 0px 24px 0px rgb(192, 192, 192);
    
}


.profile-fav-route button{
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 0;
    border: 1px solid green;
    cursor: pointer;
    background-color: rgb(235, 252, 231);
    padding: 5px 50px;
}

.fav-title-line {
    background-color: black;
    width: 100%;
    height: 0px;
    
}

.fav-route-title {
    margin-bottom: -10px;
    font-size: 22px;
}

.fav-route-desc {
    margin-top: 40px;
}

.fav-route-desc-span {
    font-size: 14px;

}

.fav-route-delete button{
    align-self: right;
}


.profile {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    

}

.profile:target {
    display: block;
}



.fav-route-popup {
    position: fixed;
    /* z-index: 10000; */
    background-color: white;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    top: 10vh;
    left: 5vw;
    color: black;
    border: 1px solid green;
    box-shadow: 0px 0px 24px 0px rgb(124, 124, 124);

    display: grid;
    grid-template-rows: .5fr 10fr;


}

.map-popup-close{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1px;
    margin-right: 5px;
}

.map-popup-close button {
    border: none;
    background-color: white;
    font-size: 28px;
    cursor: pointer;
}

.map-popup {
    /* height: 100%;
    width: 100%; */
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    margin: 5px 5px 5px 5px;
    gap: 5px;
}

.fav-popup-map {
    /* background-color: green; */
    grid-row-start: 1;
    grid-row-end: span 2;
}

.fav-popup-plot1 {
    /* background-color: red; */
    grid-column: 2;
    grid-row: 1;
}

.fav-popup-plot2 {
    /* background-color: pink; */
    grid-column: 2;
    grid-row: 2;
}

.fav-map-container {
    height: 99%;
    width: 100%;
    margin-bottom: 5px;
}

.logout-button-div {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.logout-button {
    width: 150px;
    padding: 10px 0;
    background-color: rgb(242, 250, 240);
    border: 1px solid green;
    cursor: pointer;
}

.profile-loading {
    text-align: center;

}

